*{
  box-sizing: border-box;
}

body{
  margin: 0; 
  font-family: Montserrat, sans-serif;
  color: #1B2522;
}

.full-screen-header{
  background-image: url('img/pic2.jpg');
  height: 100vh;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white; 
  position: relative;

  overflow: hidden;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2522;
  padding: .5rem 1rem; 
}

.nav-top{
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1;

  animation: nav-enter 200ms 700ms backwards;
}

.cube-body{
  perspective: 400px;
  
}

.cube{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  left: 35px;
  top: 10px; 
  text-shadow: 1px 1px 6px white;

  font-size: .5rem;
  transform-style: preserve-3d;
}

.cube:hover{
  animation: spin 6s linear infinite;
}

.side{
  --size: 50px; 

  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--size);
  width: var(--size);
  position: absolute;
  background-color: hsla(0, 100%, 50%, 1);
  border: 1px solid hsla(0, 100%, 10%, 1);
  transform: rotateY(var(--rotate-y, 0)) rotateX(var(--rotate-x, 0)) translateZ(calc(var(--size)/2));
}

.front{
  font-weight: bold;
  text-align: center;
}

.right{
  --rotate-y: 90deg; 
  font-weight: bold;
  text-align: center;
}

.left{
  --rotate-y: -90deg; 
  font-weight: bold;
  text-align: center;
}

.top{
  --rotate-x: 90deg; 
  font-weight: bold;
  text-align: center;
}

.bottom{
  --rotate-x: -90deg;
  font-weight: bold;
  text-align: center;
}

.back{
  --rotate-y: 180deg; 
  font-weight: bold;
  text-align: center;
}

.nav-list {
  margin: 0; 
  padding: 0; 
  display: flex;
  list-style-type: none;
}

.nav-list a{
  text-decoration: none;
  margin-left: 1rem;
  color: white; 
  text-shadow: .2px .2px 1.5px white;

  transition: color 100ms;
}

.nav-list a:hover{
  color: #CCC;
}

.title{
  font-size: 3rem;
  margin: 0;
  border-bottom: 5px solid hsl(0, 100%, 45%);
  text-shadow: 5px 5px 7px black;

  animation: title-enter 500ms;
}

.sub-title{
  font-size: 1.5rem;
  margin-top: .3rem;
  margin-bottom: 1rem;
  color: rgb(218, 218, 218); 

  animation: sub-title-enter 500ms 300ms backwards;
}

.title-span{
  color: hsl(0, 100%, 50%);
}

.btn {
  background-color: hsl(0, 100%, 50%);
  color: white; 
  border-radius: 1000000px;
  padding: .2em 1em; 
  text-decoration: none;
  border: none; 
  cursor: pointer;
  font-size: inherit;

  transition: 100ms;
}

.btn:hover, .btn:focus{
  background-color: hsl(0, 100%, 40%);
}

.scroll-down-icon{
  position: absolute;
  bottom: 18rem;
  width: 30px;
  color: white; 

  animation: 
    scroll-up-bounce 900ms 1s alternate infinite linear,
    scroll-up-enter 200ms 700ms backwards;
}

.btn-grow{
  animation: btn-grow-enter 200ms 700ms backwards;
}

.btn-grow:hover{
  transform: scale(1.1);
  box-shadow: 0 2px 5px 1px black;
}

p{
  width: 500px; 
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(206, 206, 206); 
  line-height: 1.5rem;
  text-shadow: 10px 10px 10px black;

  animation: sub-title-enter 500ms 300ms backwards;
}

@keyframes spin {
  0%{
    transform: rotateX(0) rotateY(0);
  }

  100%{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes nav-enter {
  from{
    transform: translateY(-175%);
  }
}

@keyframes title-enter {
  from{
    transform: translateX(-100vw);
  }
}

@keyframes sub-title-enter {
  from{
    transform: translateX(100vw);
  }
}

@keyframes scroll-up-enter {
  from{
    transform: scale(0) rotate(180deg);
  }
}

@keyframes scroll-up-bounce {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-10px);
  }
}

@keyframes btn-grow-enter {
  from{
    transform: scale(0);
  }
}
